Package: com.cloudysnow.btloader
Name: BTLoader
Version: 1.0.2
Architecture: iphoneos-arm
Description: A client modification for Discord's mobile app.
Maintainer: CloudySn0w
Author: CloudySn0w
Icon: https://avatars.githubusercontent.com/u/186649748
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000)
Conflicts: app.enmity, mod.vendetta, app.unbound
